.contents-row
  .contents-row__top
    .success
      .success__box
        %h3
          編集が完了しました。
          %br
          %br
        %a.btn{href: "/users/#{current_user.id}"} 投稿一覧へ戻る
  .contents-row__end