* {
  box-sizing: border-box;
}

.header{
  height: 85px;
  width: 100%;
  background-color: $header_green;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 2;
  font-family: 'Montserrat',"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;

  &__image--pic{
    height: 400px;
    width: 100%;
    object-fit: inherit;
    margin: 0 auto;
  };

  &__left{
    height: 70px;
    width: 366px;
    font-size: 30px;
    font-weight: bolder;
    padding-right: 63px;
    position: absolute;
    top: 20px;
    left: 175px;
  };

  &__center2{
    height: 42px;
    width: 200px;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 25px;
    display: flex;
    &__btn{
      margin-right: 10px;
      text-decoration: none;
      color: black;
    }
  }

  &__center{
    height: 42px;
    width: 200px;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 25px;

    &__btn{
      text-decoration: none;
      color: black;
      display: block;
    };
  };

  &__right{
    height: 40px;
    width: 250px;
    font-size: 33px;
    padding-left: 80px;
    line-height: 2.5rem;
    letter-spacing: 17.5px;
    display: flex;
    position: absolute;
    right: 120px;
    &__btn{
      color: black; 
    };
  };
};

