.contents{
  justify-content: center;
  align-items: center;
  padding-top: 85px;
  min-width: 100vw;
  box-sizing: border-box;
  &__main{
    width: 100%;
    margin: 0 auto;
    background-color: #556B2F;
    .top{
      background-color: #556B2F;
      padding: 0px 40px;
      .slick{
        height: 480px;
        width: 80%;
        background-color: #fff;
        margin: 0 auto 30px;
        border-radius: 0.25rem;
      };

      &__title{
        height: 50px;
        width: 50%;
        background-color: #556B2F;
        margin-left: 135px;
        font-size: 25px;
        line-height: 3rem;
        font-family: 'Lato', sans-serif;
        &__sub{
          margin-left: 135px;
          font-size: 18px;
          font-family: 'Lato', sans-serif;
        };
      };
    };

    .pickupfeeds{
      height: 536px;
      width: 80%;
      background-color: #556B2F;
      padding: 44px 0 95px 0;
      margin: 0 auto;
      &__title{
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid black;
        padding-top: 48px;
        position: relative;
        &__left{
          width: 80px;
          text-align: center;
          font-size: 33px;
          font-family: 'Source Sans Pro', sans-serif;
          position: absolute;
          left: 26px;
        };
        &__right{
          width: 150px;
          text-align: center;
          font-size: 31px;
          font-family: 'Source Sans Pro', sans-serif;
          position: absolute;
          right: 29px;
        };
      };
      &__box{
        height: 410px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &__top{
          text-decoration: none;
          color: #333333;
        };
        &__picture{
          height: 320px;
          width: 340px;

          &__pic{
            height: 100%;
            width: 100%;
            background-color: #F7F6F2;
            border-radius: 0.25rem;
          };
          &__title{
            height: 18px;
            background-color: #FFF;
            font-size: 13px;
          };
          &__sub{
            height: 37px;
            background-color: #FFF;
            font-size: 18px;
            border-radius: 0 0 0.25rem 0.25rem;
          };
        };
      };
    };
  };

  .contents__sub{
    width: 100%;
    margin: 0 auto;
    background-color: #F7F6F2;

    .middle{
      height: 500px;
      background-color: #F7F6F2;
      padding: 85px 175px;
      margin: 0 auto;
      line-height: 2rem;
      &__box{
        height: 420px;
        &__pic{
          background-color: #fff;
          position: relative;
          min-height: 420px;
          &__title{
            height: 50px;
            width: 150px;
            background-color: #EEEEEE;
            position: absolute;
            bottom: 0px;
            right: 0px;
            line-height: 3rem;
            padding-left: 15px;
          };
        };
      };
    };
    .newfeeds{
      background-color: #F7F6F2;
      padding: 70px 175px;
      height: 100%;
      margin: 0 auto;
      &__box{
        display: flex;
        &__leftbox{
          .wrap-title{
            height: 50px;
            border-top: 2px solid black;
            margin: 50px 0 18px;
            font-size: 35px;
            padding-top: 20px;
            font-family: 'Source Sans Pro', sans-serif;
          };
          .top-list{
            height: 282px;
            width: 725px;
            background-color: #FFF;
            padding: 25px;
            margin-bottom: 25px;
            display: flex;
            text-decoration: none;
            color: #333;
            border-radius: 0.25rem;
            &__pic{
              height: 280px;
              width: 250px;
              background-color: #EEEEEE;
              img{
                border-radius: 0.25rem 0 0.25rem 0.25rem;
              };
            };
            &__text{
              height: 235px;
              width: 475px;
              background-color: #EEEEEE;
              padding: 15px;
              border-radius: 0 0.25rem 0.25rem 0;
              &__title{
                height: 85px; 
                padding-bottom: 25px;
                font-size: 25px;
                background-color: #FFF;
                border-radius: 0.25rem 0.25rem 0 0;
              };
              &__comment{
                height: 65px;
                margin-bottom: 10px;
                background-color: #FFF;
              };
              &__author{
                height: 25px;
                background-color: #FFF;
                display: flex;
                position: relative;
                border-radius: 0 0 0.25rem 0.25rem;
                font-family: 'Source Sans Pro', sans-serif;
                &__username{
                  background-color: #FFF;
                  position: absolute;
                  bottom: 0px;
                  right: 110px;
                };
                &__date{
                  background-color: #FFF;
                  position: absolute;
                  right: 0px;
                  line-height: 1.5rem;
                };
              };
            };
          };
          .pagination{
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            letter-spacing: 0.1rem;
            a{
              text-decoration: none;
              color: #333;
            };
          };
        };
        &__right{
          height: 645px;
          width:calc( 100% - 725px - 25px );
          margin: 50px 0px 25px 25px;
          background-color: #EEEEEE;
          padding: 25px;
          border-radius: 0.25rem;
          &__country{
            height: 100%;
            width: 100%;
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
          };
        };
      };
    };
  };
};

@media all and (max-width:480px) {
  .newfeeds__box__right {
    display: none;
  };
};
