#wapper-new-postbox{
  height:500vh;
  width:100vw;
  padding-top: 85px;
  background: #f5f5f5;
  .new-postbox-detail{
    background: white;
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
    .detail-box{
      max-width: 100%;
      // height: auto;
      height: 450vh;
      padding-bottom: 50px;
      margin: 50px auto 75px;
      vertical-align: bottom;
      &__mainvisual{
        padding-top: 40px;
        margin: 0 auto;
        text-align: center;
      };
      &__text{
        width: 67.1%;
        margin: 50px auto 75px;
        .detail-box-top{
          &__title{
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 15px;
            line-height: 1.5;
            font-feature-settings: "palt" 1;
            letter-spacing: 1px;
            font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
          };
          &__author{
            margin-bottom: 25px;
            display: flex;
            position: relative;
            &__date{
              position: absolute;
              top: 10px;
              left: 60px;
            };
            &__image{
              border-radius: 50%;
            };
            &__createbox{
              position: absolute;
              right: 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 100%;
              width: 12%;
              &__update{
                height: 80%;
                width: 40px;
                display: flex;
                align-items: center;
                position: relative;
                background-color: #99CCCC;
                border-radius: 0.4rem;
                span{
                  position: absolute;
                  right: 4px;
                  color: white;
                };
              };
              &__delete{
                height: 80%;
                width: 40px;
                display: flex;
                align-items: center;
                position: relative;
                background-color: #996666;
                border-radius: 0.4rem;
                span{
                  position: absolute;
                  right: 4px;
                  color: white;
                };
              };
            };
          };
          .detail-box-top__line{
            height: 1px;
            border: 0;
            border-top: 1px solid #cccccc;
          };
        };
      };
      &__comments{
        margin: 50px auto 75px;
        width: 67.1%;
        &__all{
          margin: 100px auto 30px;
          padding-bottom: 10px;
          border-bottom: 1px solid lightgrey;
          color: #333;
        };
        &__input{
          position: relative;
          &__placeholder{
            border: none;
            border-bottom: 1px solid lightgrey;
            width: 100%;
            outline: none;
          };
          #detail-box__comments__submit{
            width: 60px;
            height: 33px;
            display: block;
            position: absolute;
            font-size: 1em;
            right: 0;
            background-color: lightgray;
            color: #fff;
            border-style: none;
            border-radius: 3%;
          };
        };
        &__list{
          box-sizing: border-box;
          &__one{
            display: flex;
          };
          .commented-user{
            display: flex;
            margin-bottom: 35px;
            &__image{
              margin-right: 10px;
              border-radius: 50%;
            };
            &__right{
              &__name{
                text-decoration: none;
                color: #333;
              };
            };
          };
        };
      };
      &__profile{
        margin: 50px auto 75px;
        width: 67.1%;
        &__main{
          .profile-box{
            display: flex;
            position: relative;
            &__image{
              border-radius: 50%;
            };
            &__name{
              position: absolute;
              left: 180px;
              font-size: 23px;
              top: 38px;
              color: #333;
              text-decoration: none;
            };
          };
          .profile-box-text{
            width: 77.6%;
            float: right;
            font-size: 14px;
            line-height: 1.8;
            letter-spacing: 0;
            border-top: 1px solid #D8D8D8;
            padding-top: 35px;
            margin-top: 5px;
          };
        };
        .detail-box__profile__sub{
          &__sns{
            width: 86.1%;
            margin: 0 auto 80px;
            // border-top: 1px solid #D8D8D8;
          };
        };
      };
    };
  };
};